{% if value is not null %}
    <div class="form-widget">
        <div class="form-control">
            {% for image in value %}
                <a href="#" class="easyadmin-thumbnail" data-featherlight="#easyadmin-lightbox-{{ item.id }}" data-featherlight-close-on-click="anywhere">
                    <img src="/uploads/files/{{ image.image }}">
                </a>

                <div id="easyadmin-lightbox-{{ item.id }}" class="easyadmin-lightbox">
                    <img src="/uploads/files/{{ image.image }}">
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}